html, body {

	font-family: Verdana;
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: #ABCF69;
	letter-spacing: -1px;
	color: #333;
}


#page {
	width: 750px;
	margin: 0 auto;
	text-align: left;
	background-color: #F6F6F6;
	border-left: 15px solid #E3EECC;
	border-right: 15px solid #E3EECC;
	padding: 10px;
}

#content {
	
}

h1, h2, h3 {
	margin: 0px;
	color: #F67B40;
}

h2, h3 {
	display: inline;
}

h3 {
	padding-left: 18px;
	color: #F67B40;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 10px
}

p {
	letter-spacing: 0px;
	line-height: 25px;
}

.tools {
	color: #F67B40;
	font-style: italic;
	font-size: 18px;
	letter-spacing: 0px;
	font-size: 16px;
}

.project {
	padding-bottom: 40px;
	padding-top: 40px;
}



.embedVideo {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.embedVideo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}